<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.oprions.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
  </head>
  <body>
  </body>
</html>